
.nav-wrapper {
   background: transparent;
    padding: 0.1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
}

.nav-content {
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin: auto;
}


.nav-content ul {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}

.nav-content img {
    width: 6rem;
    object-fit: cover;
    height: 2rem;
}   

.nav-content li {
    margin:  0 1.5rem;
}

.menu-item {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
    position: relative;
    cursor: pointer;
}

.menu-item::before {
    content: " ";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(90deg,#56aeff 0%, #1871c5 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: -0.6rem;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

.menu-item:hover::before {
    width: 100%;
    transform: translateX(0);
    opacity: 1;
}

.contact-btn {
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: transparent;
    padding: 0.6rem 2.5rem;
    border: 1px solid white;
    outline: 1.5px solid transparent;
    
    cursor: pointer;
    transition: all 0.3 ease;
    transition: 0.3s ease;
}

.contact-btn:hover {
    color: #001a27;
    background: rgb(245, 245, 245);
    border: 1.5px solid #e7e7e7;
}


.menu-btn {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.4rem;
    color: white;
    background: transparent;
    line-height: 0;
    cursor: pointer;
    transition: all 0.4s ease;
    display: none;
}

.menu-btn:hover {
    color: white;
    background: transparent;
    border: none;
}


@media (max-width: 769px) {
    .menu-btn {
        display: block;
    }

    .nav-content ul {
        display: none;
    }

}

@media (max-width: 1325px) {
    .nav-wrapper {
        padding: 0 2rem;
    }
} 
